<script id="date-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Choisissez une date</h1>
    </ion-header-bar>
    <ion-content>
    	<form name="dateForm" novalidate ng-submit="dateForm.$valid && addToSelection(this, equipment)">
	    	<div class="list">
	    	  <label class="item item-input item-stacked-label">
	    	    <span class="input-label">Jour</span>
	    	    <input type="date" ng-model="selection.date">
	    	  </label>
	    	  <label class="item item-input item-stacked-label">
	    	    <span class="input-label">Heure de début</span>
	    	    <input type="time" ng-model="selection.start">
	    	  </label>
	    	  <label class="item item-input item-stacked-label">
	    	    <span class="input-label">Heure de fin</span>
	    	    <input type="time" ng-model="selection.end">
	    	  </label>
	    	  
	    	  <input type="submit" value="Valider" class="button button-block button-positive">
	    	</div>
    	</form>
    </ion-content>
  </ion-modal-view>
</script>


<ion-view view-title="Activité" class="Activity" >
  	<ion-content>
  		
  		<div class="item item-text-wrap adresse">
   			<h2>{{ equipment.name }}</h2>
   			<p>{{ equipment.address}}, {{ equipment.zipCode }}</p>
   			<p ng-bind-html="equipment.phone"></p>
   		</div>

   		<div class="item item-text-wrap description">
   			<h2>Description</h2>
   				<p ng-bind-html="equipment.description"></p>
   		</div>
		
			<button class="button button-block button-positive" ng-click="modal.show()">
				JE VEUX Y ALLER ! 
			</button>
			
		
		<ul class="list">
    		<li class="item">
    			ILS Y VONT AUSSI !
    		</li>
			<div class="list" >

				<a ng-repeat="user in users " class="item item-thumbnail-left" href="#" ng-if="equipment.idequipements == user.usersSelections.equipement.idequipements" >
			      	<img ng-src="{{user.photo}}">
			    	<h2>{{user.prenom}} {{user.nom}}, {{user.age}} ans</h2><br>
					<div>Le {{user.usersSelections.date}} à {{user.usersSelections.start}}</div>
			    	<br>
			     	<span class="ion-arrow-right-b" data-pack="default" data-tags=""></span> <span class="add-invitation" >Tu veux l'accompagner ?</span>
			    </a>
			</div>
		</ul>
  	</ion-content>
</ion-view>
