
<ion-view view-title="Activités autour de moi">
  <ion-content>
    <ion-list>

    	<ion-item ng-repeat="category in equipments" href="#/app/activities/{{category.idcategories}}">
        {{ category.name }}
      	</ion-item>
    </ion-list>

	<div class="list">
			<div class="item item-divider">
			    Catégorie 1
			</div>
			
			<div class="item item-avatar" >
				<a href="#/app/activities/activityId">
			    
			    	<span class="ion-plus-circled" data-pack="default" data-tags="add, include, new, invite, +"></span>
			      	<h2>Venkman's bar</h2><br />
			      	<p>17, rue de l'orphelinat, 75 010</p>
			   </a>
			    <div class="ion-bookmark" data-pack="default" data-tags="favorite"></div>
			</div>

			<div class="item item-avatar" >
				<a href="#/app/activities/activityId">
			    	<span class="ion-plus-circled" data-pack="default" data-tags="add, include, new, invite, +"></span>
			      	<h2>Venkman's bar</h2><br />
			      	<p>17, rue de l'orphelinat, 75 010</p>
			    </a>
			</div>
			<div class="item item-avatar" >
				<a href="#/app/activities/activityId">
			    
			    	<span class="ion-plus-circled" data-pack="default" data-tags="add, include, new, invite, +"></span>
			      	<h2>Venkman's bar</h2><br />
			      	<p>17, rue de l'orphelinat, 75 010</p>
			    </a>
			</div>

			<div class="item item-divider">
			    Catégorie 2
			</div>
			<div class="item item-avatar" >
				<a href="#/app/activities/activityId">
			    	<span class="ion-plus-circled" data-pack="default" data-tags="add, include, new, invite, +"></span>
			      	<h2>Venkman's bar</h2><br />
			      	<p>17, rue de l'orphelinat, 75 010</p>
			    </a>
			</div>
			<div class="item item-avatar" >
				<a href="#/app/activities/activityId">
			    
			    	<span class="ion-plus-circled" data-pack="default" data-tags="add, include, new, invite, +"></span>
			      	<h2>Venkman's bar</h2><br />
			      	<p>17, rue de l'orphelinat, 75 010</p>
			    </a>
		      	<div class="ion-bookmark" data-pack="default" data-tags="favorite"></div>
			</div>
		</div>
  </ion-content>

</ion-view>
