<ion-view view-title="Détail du lieu" class="selection-detail" >
  	<ion-content>
  		
  		<div class="item item-text-wrap adresse">
   			<h2>{{ selection.equipment.name }}</h2>
   			<p>{{ selection.equipment.address}}, {{ selection.equipment.zipCode }}</p>
   		</div>
		<ul class="list" ng-show="user">
    		<li class="item">
    			ILS VEULENT T'ACCOMPAGNER !
    		</li>
			<div class="list">
				
				<a ng-repeat="user in users " class="item item-thumbnail-left" href="tel:06 03 55 68 90" ng-if="selection.equipment.idequipements == user.withYou.equipement.idequipements" >
			      	<img ng-src="{{user.photo}}">
			    	<h2>{{user.prenom}} {{user.nom}}, {{user.age}} ans</h2><br>
					<p>06 03 55 68 90</p>
			    	<br>
			     	<!-- <span class="ion-arrow-right-b" data-pack="default" data-tags=""></span> <span class="add-invitation" >Tu veux l'accompagner ?</span> -->
			    </a>
			</div>
		</ul>
  	</ion-content>
</ion-view>