<ion-view view-title="Selection"  class="selection" >
	
	<ion-content>

		<div class="list">
			<div class="item item-divider">
			    Catégorie
			</div>

			<div class="item item-avatar" ng-repeat="selection in selections">
				<a href="#/app/selection/{{selection.equipment.idequipements}}">
			    
			    	<span class="ion-plus-circled" data-pack="default" data-tags="add, include, new, invite, +"></span>
			      	<h2>{{ selection.equipment.name }}</h2><br />
			      	<p>{{ selection.equipment.address }}, {{ selection.equipment.zipCode }}</p>
			   </a>
			    <div class="ion-bookmark" data-pack="default" data-tags="favorite"></div>
			</div>
			
		</div>
	</ion-content>
</ion-view>