<ion-view view-title="sign-up"  class="sign-up" >
	<div class="bar bar-header bar-light">
		<h1 class="title">Complétez votre profil</h1>
  		<h1 class="title" style="display:none;" >Selectionnez vos favoris</h1>
	</div>

	

  	<ion-content>

  		<div class="header">
  			<ul>
  				<li><a href="#/signupInfos" class="active" >1</a></li>
  				<li><a href="#/signupActivities">2</a></li>
  				<div class="bar"></div>
  			</ul>
  		</div>
		
		<div class="photo" >
			<img src="{{data_picture_url}}" alt="photo de profil" width="100%"/>
		</div>
  		<form name="searchForm" novalidate ng-submit="searchForm.$valid && addInfos()">
            <div class="sign-up-1" >
                <div class="list">
                	<div ng-show="searchForm.$submitted || searchForm.uPseudo.$touched">
				      <div  class="message-error"  ng-show="searchForm.uPseudo.$error.required">Veuillez remplir votre pseudo.</div>
				    </div>
                    <label class="item item-input">
                        <input type="text" placeholder="Nom d'utilisateur" name="uPseudo"  ng-model="formUser.pseudo" ng-required="true">
                    </label>
                    <div ng-show="searchForm.$submitted || searchForm.uName.$touched">
				      <div class="message-error"   ng-show="searchForm.uName.$error.required">Veuillez remplir votre nom.</div>
				    </div>
                   <label class="item item-input">
                        <input type="text" placeholder="Nom" name="uName"  ng-model="formUser.nom" ng-required="true">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Prenom"  ng-model="formUser.prenom" ng-required="true">
                    </label>

                    <div ng-show="searchForm.$submitted || searchForm.uEmail.$touched">
                          <span class="message-error" ng-show="searchForm.uEmail.$error.required">Veuillez renseigner votre email.</span>
                          <span  class="message-error" ng-show="searchForm.uEmail.$error.email">Votre email n'est pas valide.</span>
                        </div>
                    <label class="item item-input">
                        <input type="text" placeholder="E-mail" name="uEmail"  ng-model="formUser.mail" ng-required="true">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Telephone"  ng-model="formUser.tel" ng-required="true">
                    </label>
                    <label class="item item-input">
                        <input placeholder="Mot de passe" type="password"  ng-model="formUser.pwd" ng-required="true">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Age</span>
                        <input type="text" value="{{data_picture.age.value}} ans"  ng-model="formUser.age" ng-required="true">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Sexe</span>
                        <input type="text" value="{{data_picture.gender.value}}"  ng-model="formUser.sexe" ng-required="true">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Ethnie</span>
                        <input type="text" value="{{data_picture.race.value}}"  ng-model="formUser.ethnie" ng-required="true">
                    </label>
                    <input type="submit" value="Continuer" class="button button-block button-positive">
                </div>
            </div>
        </form>
	</ion-content>
</ion-view>