<ion-view view-title="sign-up"  class="sign-up " >
	<div class="bar bar-header bar-light">
		<h1 class="title">Complétez votre profil</h1>
  		<h1 class="title" style="display:none;" >Selectionnez vos favoris</h1>
	</div>

	

  	<ion-content>

  		<div class="header activities">
  			<ul>
  				<li class="done"><a href="#/signupInfos"  >1</a></li>
  				<li class="active"><a href="#/signupActivities" >2</a></li>
  				<div class="bar"></div>
  			</ul>
  		</div>
		
  		<div class="sign-up-2">
  			<div class="list">
  				<li class="item item-checkbox" ng-repeat="category in all_activities">
					<label class="checkbox">
						<input type="checkbox" ng-model="category.checked">
					</label>
					{{ category.name }}
				</li>
			  	
			</div>
  		</div>
	</ion-content>
	<a href="#/app/activities" class="button button-block button-positive button-fixed-bottom" ng-click="save_categories()">Continuer</a>

</ion-view>