<ion-view view-title="Take your face" class="splashscreen" >
  <ion-content>
    <div class="logo">
    	<img src="img/logo.png">
    </div>
     <form ng-submit="doLogin()">
      <div class="list">
      
          <button class="button button-block button-positive" type="submit" ng-click="checkAccount()">Se Connecter</button>

          <button class="button button-block button-balanced" type="submit" ng-hide="accountExist" ng-click="showConfirm()">Créer un compte</button>
          
          <button class="button button-block button-assertive" type="submit" ng-show="accountExist" ng-click="deleteAccount()">Supprimer mon compte</button>

      </div>
    </form>
  </ion-content>
</ion-view>