/* Empty. Add your own CSS if you like */
/* GENERIC */ 
.view-container{
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover; 
}
.pane, .view{
	background: none ;
}
.popup-body{
	overflow: hidden;
}

.bar-footer{
	height: 60px;
}

.bar-footer .button-full{
	height: 40px;
}
/* Splashscreen */
.splashscreen .logo{
	text-align: center;
	margin: 50px 0;
}
.splashscreen .sign-up a{
	color: white;
	padding-left: 20px;
}
.header{
	overflow: hidden;
	width: 210px;
	margin: 75px auto 25px auto;
}
.header ul{
	width: 100%;
	height: 50px;
	position: relative;
}
.header ul li{
	background: #ffffff;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	border-radius: 50%;
	float: left;
	margin-right: 103.8px;
	text-align: center;
}
.header.activities ul li{
	border-color: green;
}
.header.activities ul li a{
	color: green;
}
.header ul li:first-child{
	border-color:green;
}
.header ul li:first-child a{
	color:green;
}
.header ul li:nth-child(2){
	margin-right: 0;
	float: right;
}
.header ul li a{
	font-size: 25px;
	line-height: 47px;
	text-transform: bold;
	text-decoration: none;
	color: #000000;
}
.header .bar{
	width: 100%;
	height: 3px;
	background: black;
	overflow: hidden;
	border: none;
	padding: 0;
	position: absolute;
	top: 25px;
	z-index: -1;
}
.activities ul .bar{
	background: green;
}
.header ul .done{
	border-color: green 
}
/* Sign-up */
.sign-up .photo,
.profil .photo{
	width: 200px;
  	border-radius: 50%;
  	height: 200px;
  	overflow: hidden;
  	margin: 30px auto;
}
/* Activites */
.item-avatar span{
 	display: inline-block;
  	float: left;
  	height: 39px;
 	width: 46px;
  	font-size: 38px;
}
.item-avatar a {
	color: #000000;
	  display: inline-block;
}
.item-avatar div{
	display: inline-block;
  	float: right;
  	font-size: 30px;
  	color: green;
}
.item-avatar p, .item-avatar h2{
	display: inline-block;
	width: 80%;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
	padding-left: 40px;
}
.none-selected{
	display: none !important;
}
.selected{
	display: inline-block !important;
}
.activities .item-content{
	padding: 0 !important;
}
/* Activites-details */

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{

	max-height: inherit;
	height: auto !important;
	padding-bottom: 20px;
}
/* Selection */
/* Selection-detail */
.item-thumbnail-left p{
	font-size: 20px;
	color: green;
}